<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Picross</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="Content/main.css" />
    <script src="Scripts/vue.js"></script>
    <script src="Scripts/vueMain.js" defer></script>
</head>
<body>
    <input type="file" id="fileInput"/>
    <div id="app">
        <h1>{{title}}</h1>
        <div class="ui-main-container">
            <div class="ui-column-numbers">
                <div class="ui-number-hint ui-number-hint-column" v-for="n in imageWidth">{{getColumnNumbers(n)}}</div>
            </div>
            <div class="ui-row-numbers">
                <div class="ui-number-hint ui-number-hint-row" v-for="n in imageHeight">{{getRowNumbers(n)}}</div>
            </div>
            <div id="gameContainer" class="ui-game-container">
                <template v-for="imageRow in imageData">
                    <div class="ui-square-container material-icons" v-for="cell in imageRow">
                        <div v-bind:style="{background: cell}"></div>
                    </div>
                </template>
            </div>
            <div class="ui-button-container">
                    <div class="ui-button-cross" data-bind="css: { active: !checkActive() }, click: activateCross"><i class="material-icons">close</i></div>
                    <div class="ui-button-check" data-bind="css: { active: checkActive }, click: activateCheck"><i class="material-icons">check</i></div>
                </div>
        </div>
    </div>
    <script async type="text/javascript" src="Scripts/imageReader.js"></script>
</body>
</html>