* {
    box-sizing: border-box;
}

:root {
    --black: #000;
    --gray-dark: #737373;
    --gray-light: #A1A1A1;
    --green-dark: #49851C;
    --green-light: #62B326;
    --red: #D92E2E;
    --yellow-dark: #F0C537;
    --yellow-light: #F0E32B;
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    width: 100%;
}

.ui-main-container {
    /* border: 1px solid rgba(0,0,0,.6); */
    display: grid;
    grid-template-columns: repeat(12, 5em);
    grid-template-rows: repeat(14, 5em);
}

.black-square {
    background: var(--black);
}

.gray-dark-square {
    background: var(--gray-dark);
}

.gray-light-square {
    background: var(--gray-light);
}

.green-dark-square {
    background: var(--green-dark);
}

.green-light-square {
    background: var(--green-light);
}

.red-square {
    background: var(--red);
}

.yellow-dark-square {
    background: var(--yellow-dark);
}

.yellow-light-square {
    background: var(--yellow-light);
}