* {
    box-sizing: border-box;
}

:root {
    --black: #000;
    --gray-dark: #737373;
    --gray-light: #A1A1A1;
    --green-dark: #49851C;
    --green-light: #62B326;
    --red: #D92E2E;
    --yellow-dark: #F0C537;
    --yellow-light: #F0E32B;
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    align-items:  center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.ui-main-container {
    display: grid;
    grid-template-columns: 5rem 61.3rem;
    grid-template-rows: 5rem 71.5rem;
}

.ui-column-numbers {
    display: flex;
    flex-flow: row nowrap;
    grid-column: 2/13;
}

.ui-row-numbers {
    display: flex;
    flex-flow: column nowrap;
    grid-row: 2/15;
}

.ui-number-hint {
    align-items: center;
    display: flex;
    font-size: 2.2rem;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.ui-game-container {
    background: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.6);
    display: grid;
    grid-template-columns: repeat(12, 5em); /*fix me later*/
    grid-template-rows: repeat(14, 5em);
    grid-gap: .1rem .1rem;
}


.ui-square-container {
    background: #FFF;
}

.ui-square-container div {
    height: 100%;
    width: 100%;
}

.ui-square-container:hover {
    background: rgba(0,0,0,.6);
}

.black-square {
    background: var(--black);
}

.gray-dark-square {
    background: var(--gray-dark);
}

.gray-light-square {
    background: var(--gray-light);
}

.green-dark-square {
    background: var(--green-dark);
}

.green-light-square {
    background: var(--green-light);
}

.red-square {
    background: var(--red);
}

.yellow-dark-square {
    background: var(--yellow-dark);
}

.yellow-light-square {
    background: var(--yellow-light);
}

.ui-hidden {
    visibility: hidden;
}