* {
    box-sizing: border-box;
}

:root {
    --black: #000;
    --gray-dark: #737373;
    --gray-light: #A1A1A1;
    --green-dark: #49851C;
    --green-light: #62B326;
    --red: #D92E2E;
    --yellow-dark: #F0C537;
    --yellow-light: #F0E32B;
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}


@media screen and (max-height: 800px) {
    html {
        font-size: 52.5%;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 52.5%;
    }
}

body {
    align-items:  center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.ui-main-container {
    display: grid;
    grid-template-columns: 5rem 60rem 5rem;
    grid-template-rows: 5rem 70rem;
}

.ui-column-numbers {
    display: flex;
    flex-flow: row nowrap;
    grid-column-start: 2;
}

.ui-row-numbers {
    display: flex;
    flex-flow: column nowrap;
    grid-column-start: 1;
}

.ui-number-hint {
    display: flex;
    font-size: 1rem;
    height: 100%;
    white-space: pre;
    width: 100%;
}

.ui-number-hint-column {
    align-items: flex-end;
    justify-content: center;
}

.ui-number-hint-row {
    align-items: center;
    justify-content: flex-end;
}

.ui-game-container {
    background: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.6);
    display: grid;
    /* grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(14, 1fr); */
    grid-gap: 1px;
}

.ui-square-container {
    background: #FFF;
}

.ui-square-container div {
    height: 100%;
    width: 100%;
}

.ui-square-container:hover {
    background: rgba(0,0,0,.6);
}

.black-square {
    background: var(--black);
}

.gray-dark-square {
    background: var(--gray-dark);
}

.gray-light-square {
    background: var(--gray-light);
}

.green-dark-square {
    background: var(--green-dark);
}

.green-light-square {
    background: var(--green-light);
}

.red-square {
    background: var(--red);
}

.yellow-dark-square {
    background: var(--yellow-dark);
}

.yellow-light-square {
    background: var(--yellow-light);
}

.ui-hidden {
    visibility: hidden;
}

.ui-blocked::after {
    content: 'close';
}

.ui-incorrect::after {
    color: var(--red);
    content: 'close';
}

.ui-button-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.ui-button-container div {
    cursor: pointer;
}

.ui-button-cross.active {
    color: var(--red);
}

.ui-button-check.active {
    color: var(--green-light);
}

.ui-button-container .material-icons {
    font-size: 5rem;
}